main {
    position: relative;
}

.form-login {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    opacity: 0.8;
}

.form-login form {
    padding-top: 10%;

}
.btn{
    margin-top: 40px;
}
label {
    width: 100px;
}

input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}
